In [1]:
import pandas as pd
import numpy as np
import sqlite3 as sql
import matplotlib

In [2]:
# Create database connection
db = "/CL-Project/Database/Titanic.db"
conn = sql.connect(db)

In [5]:
query = '''
SELECT pl_class.*
FROM passenger_list pl_class,
   passenger_list pl_gender,
   passenger_list pl_age,
   passenger_list pl_survived
WHERE pl_class.id = pl_gender.Id 
   AND pl_class.id = pl_age.Id 
   AND pl_class.Id = pl_survived.id 
   AND pl_class.class = 1 
   AND pl_gender.gender = 'M' 
   AND pl_age.age BETWEEN 20 AND 40 
   AND NOT pl_survived.Survived;'''

In [4]:
df = pd.read_sql_query(query, conn)
df

,Id,Name,Age,Hometown,Boarded,Destination,Lifeboat,Body,Class,Survived,Gender
0,25,"Allison, Mr. Hudson Joshua Creighton",30,"Montreal, Quebec, Canada",Southampton,"Montreal, Quebec, Canada",N/A,135MB,1,0,M
1,30,Mr. Charles Augustus Aldworth[59],30,"Bryn Mawr, Pennsylvania, US",Southampton,"Bryn Mawr, Pennsylvania, US",N/A,Unknown,1,0,M
2,32,Mr. Ren–ò Pernot[59],39,"Paris, France",Cherbourg,"New York, New York, US",N/A,Unknown,1,0,M
3,33,Mr. Vivian Ponsonby Payne,22,"Montreal, Quebec, Canada",Southampton,"Montreal, Quebec, Canada",N/A,Unknown,1,0,M
4,58,Mr. Sante Righini,22,"New York, New York, US",Cherbourg,"New York, New York, US",N/A,232MB,1,0,M
5,64,Mr. Alexander Cairns,28,"Bryn Mawr, Pennsylvania, US",Southampton,"Bryn Mawr, Pennsylvania, US",N/A,Unknown,1,0,M
6,65,Mr. Charles Henry Harrington,37,"Washington, DC, US",Southampton,"Washington, DC, US",N/A,Unknown,1,0,M
7,66,Mr. Edwin Herbert Keeping,33,"Philadelphia, Pennsylvania, US",Southampton,"Philadelphia, Pennsylvania, US",N/A,45MB,1,0,M
8,69,Mr. John Richard Fry,39,"Liverpool, Merseyside, England, UK",Southampton,"New York, New York, US",N/A,Unknown,1,0,M
9,70,Mr. Victor Giglio,24,"Paris, France",Cherbourg,"New York, New York, US",N/A,Unknown,1,0,M
10,88,"Andrews, Mr. Thomas[60]",39,"Belfast, Ireland, UK",Belfast,"New York, New York, US",N/A,Unknown,1,0,M
11,138,"Baxter, Mr. Quigg Edmond",24,"Montreal, Quebec, Canada",Cherbourg,"Montreal, Quebec, Canada",N/A,Unknown,1,0,M
12,142,"Beattie, Mr. Thomson",36,"Fergus, Ontario, Canada",Southampton,"Fergus, Ontario, Canada",N/A,331O,1,0,M
13,159,"Birnbaum, Mr. Jakob",24,"Antwerp, Belgium",Cherbourg,"San Francisco, California, US",N/A,148MB,1,0,M
14,237,"Carlsson, Mr. Frans Olof",33,"New York, New York, US",Southampton,"New York, New York, US",N/A,Unknown,1,0,M
15,239,"Carrau, Mr. Francisco M.",31,"Montevideo, Uruguay",Southampton,"Montevideo, Uruguay",N/A,Unknown,1,0,M
16,250,"Cavendish, Mr. Tyrell William",36,"London, England, UK",Southampton,"New York, New York, US",N/A,172MB,1,0,M
17,266,"Chisholm, Mr. Roderick Robert Crispin[60]",40,"Belfast, Ireland, UK",Belfast,"New York, New York, US",N/A,Unknown,1,0,M
18,272,"Clark, Mr. Walter Miller",27,"Los Angeles, California, US",Cherbourg,"Los Angeles, California, US",N/A,Unknown,1,0,M
19,277,"Clifford, Mr. George Quincy",40,"Stoughton, Massachusetts, US",Southampton,"Stoughton, Massachusetts",N/A,Unknown,1,0,M
20,285,"Colley, Mr. Edward Pomeroy",37,"Dublin, Ireland, UK[note 1]",Southampton,"Vancouver, British Columbia, Canada",N/A,Unknown,1,0,M
21,291,"Compton, Mr. Alexander Taylor Jr.",37,"Lakewood, New Jersey, US",Cherbourg,"Lakewood, New Jersey, US",N/A,Unknown,1,0,M
22,321,"Cumings, Mr. John Bradley",39,"New York, New York, US",Cherbourg,"New York, New York, US",N/A,Unknown,1,0,M
23,334,"Daniel, Mr. Robert Williams",27,"Philadelphia, Pennsylvania, US",Southampton,"Philadelphia, Pennsylvania, US",N/A,Unknown,1,0,M
24,337,"Davidson, Mr. Thornton",31,"Montreal, Quebec, Canada",Southampton,"Montreal, Quebec, Canada",N/A,Unknown,1,0,M
25,393,"Dulles, Mr. William Crothers",39,"Philadelphia, Pennsylvania, US",Cherbourg,"Philadelphia, Pennsylvania, US",N/A,133MB,1,0,M
26,434,"Foreman, Mr. Benjamin Laventall",30,"New York, New York, US",Southampton,"New York, New York, US",N/A,Unknown,1,0,M
27,443,"Franklin, Mr. Thomas Parnham",37,"London, England, UK",Southampton,"New York, New York, US",N/A,Unknown,1,0,M
28,452,"Futrelle, Mr. Jacques Heath",37,"Scituate, Massachusetts, US",Southampton,"Scituate, Massachusetts, US",N/A,Unknown,1,0,M
29,494,"Graham, Mr. George Edward",38,"Winnipeg, Manitoba, Canada",Southampton,"Winnipeg, Manitoba, Canada",N/A,147MB,1,0,M
30,731,"Lewy, Mr. Ervin G.",31,"Chicago, Illinois, US",Cherbourg,"Chicago, Illinois, US",N/A,Unknown,1,0,M
31,751,"Long, Mr. Milton Clyde",29,"Springfield, Massachusetts, US",Southampton,"Springfield, Massachusetts, US",N/A,126MB,1,0,M
32,753,"Loring, Mr. Joseph Holland",30,"London, England, UK",Southampton,"New York, New York, US",N/A,Unknown,1,0,M
33,768,"Maguire, Mr. John Edward",30,"Brockton, Massachusetts, US",Southampton,"Brockton, Massachusetts, US",N/A,Unknown,1,0,M
34,820,"Meyer, Mr. Edgar Joseph",28,"New York, New York, US",Cherbourg,"New York, New York, US",N/A,Unknown,1,0,M
35,877,"Natsch, Mr. Charles",36,"Brooklyn, New York, US",Cherbourg,"Brooklyn, New York, US",N/A,Unknown,1,0,M
36,935,"Ovies y Rodriguez, Mr. Servando Jos–ò Florentino",36,"Havana, Cuba",Cherbourg,"Havana, Cuba",N/A,189MB,1,0,M
37,953,"Parr, Mr. William Henry Marsh[60]",29,"Belfast, Ireland, UK",Belfast,"New York, New York, US",N/A,Unknown,1,0,M
38,955,"Partner, Mr. Austin",40,"Tolworth, London, England, UK",Southampton,"Toronto, Ontario, Canada",N/A,166MB,1,0,M
39,963,"Pears, Mr. Thomas Clinton",29,"Isleworth, London, England, UK",Southampton,"New York, New York, US",N/A,Unknown,1,0,M
40,969,"Pe–Øasco y Castellana, Mr. Victor",24,"Madrid, Spain",Cherbourg,"New York, New York, US",N/A,Unknown,1,0,M
41,1008,"Reuchlin,‚ïêThe Honourable‚ïêMr. Johan George",38,"Rotterdam, The Netherlands",Southampton,"New York, New York, US",N/A,Unknown,1,0,M
42,1032,"Roebling, Mr. Washington Augustus II",31,"Trenton, New Jersey, US",Southampton,"Trenton, New Jersey, US",N/A,Unknown,1,0,M
43,1037,"Rood, Mr. Hugh Roscoe",38,"Seattle, Washington, US",Southampton,"Seattle, Washington, US",N/A,Unknown,1,0,M
44,1043,"Ross, Mr. John Hugo",36,"Winnipeg, Manitoba, Canada",Southampton,"Winnipeg, Manitoba, Canada",N/A,Unknown,1,0,M
45,1134,"Smith, Mr. Lucien Philip",24,"Huntington, West Virginia, US",Cherbourg,"Huntington, West Virginia, US",N/A,Unknown,1,0,M
46,1222,"Uruchurtu, Don Manuel E.",40,"Mexico City, Mexico",Cherbourg,"Mexico City, Mexico",N/A,Unknown,1,0,M
47,1275,"White, Mr. Richard Frasar",21,"Brunswick, Maine, US",Southampton,"Brunswick, Maine, US",N/A,169MB,1,0,M
48,1282,"Widener, Mr. Harry Elkins",27,"Philadelphia, Pennsylvania, US",Southampton,"Philadelphia, Pennsylvania, US",N/A,Unknown,1,0,M