In [1]:
import pandas as pd
import numpy as np
import sqlite3 as sql

In [2]:
# Create database connection
db = "/Users/bing/CodeLouisville/Titanic.db"
# db = 'titanic.db'
conn = sql.connect(db)

In [5]:
#
# Original Query
#
query = '''
SELECT pl_class.*
FROM passenger_list pl_class,
   passenger_list pl_gender,
   passenger_list pl_age,
   passenger_list pl_survived
WHERE pl_class.id = pl_gender.Id 
   AND pl_class.id = pl_age.Id 
   AND pl_class.Id = pl_survived.id 
   AND pl_class.class between 1 and 1
   AND pl_gender.gender = 'M' 
   AND pl_age.age BETWEEN 20 AND 40 
   AND NOT pl_survived.Survived;
'''

In [6]:
df = pd.read_sql_query(query, conn)
df

,Id,Name,Age,Hometown,Boarded,Destination,Lifeboat,Body,Class,Survived,Gender
0,25,"Allison, Mr. Hudson Joshua Creighton",30,"Montreal, Quebec, Canada",Southampton,"Montreal, Quebec, Canada",N/A,135MB,1,0,M
1,30,Mr. Charles Augustus Aldworth[59],30,"Bryn Mawr, Pennsylvania, US",Southampton,"Bryn Mawr, Pennsylvania, US",N/A,Unknown,1,0,M
2,32,Mr. Ren–ò Pernot[59],39,"Paris, France",Cherbourg,"New York, New York, US",N/A,Unknown,1,0,M
3,33,Mr. Vivian Ponsonby Payne,22,"Montreal, Quebec, Canada",Southampton,"Montreal, Quebec, Canada",N/A,Unknown,1,0,M
4,58,Mr. Sante Righini,22,"New York, New York, US",Cherbourg,"New York, New York, US",N/A,232MB,1,0,M
5,64,Mr. Alexander Cairns,28,"Bryn Mawr, Pennsylvania, US",Southampton,"Bryn Mawr, Pennsylvania, US",N/A,Unknown,1,0,M
6,65,Mr. Charles Henry Harrington,37,"Washington, DC, US",Southampton,"Washington, DC, US",N/A,Unknown,1,0,M
7,66,Mr. Edwin Herbert Keeping,33,"Philadelphia, Pennsylvania, US",Southampton,"Philadelphia, Pennsylvania, US",N/A,45MB,1,0,M
8,69,Mr. John Richard Fry,39,"Liverpool, Merseyside, England, UK",Southampton,"New York, New York, US",N/A,Unknown,1,0,M
9,70,Mr. Victor Giglio,24,"Paris, France",Cherbourg,"New York, New York, US",N/A,Unknown,1,0,M
10,88,"Andrews, Mr. Thomas[60]",39,"Belfast, Ireland, UK",Belfast,"New York, New York, US",N/A,Unknown,1,0,M
11,138,"Baxter, Mr. Quigg Edmond",24,"Montreal, Quebec, Canada",Cherbourg,"Montreal, Quebec, Canada",N/A,Unknown,1,0,M
12,142,"Beattie, Mr. Thomson",36,"Fergus, Ontario, Canada",Southampton,"Fergus, Ontario, Canada",N/A,331O,1,0,M
13,159,"Birnbaum, Mr. Jakob",24,"Antwerp, Belgium",Cherbourg,"San Francisco, California, US",N/A,148MB,1,0,M
14,237,"Carlsson, Mr. Frans Olof",33,"New York, New York, US",Southampton,"New York, New York, US",N/A,Unknown,1,0,M
15,239,"Carrau, Mr. Francisco M.",31,"Montevideo, Uruguay",Southampton,"Montevideo, Uruguay",N/A,Unknown,1,0,M
16,250,"Cavendish, Mr. Tyrell William",36,"London, England, UK",Southampton,"New York, New York, US",N/A,172MB,1,0,M
17,266,"Chisholm, Mr. Roderick Robert Crispin[60]",40,"Belfast, Ireland, UK",Belfast,"New York, New York, US",N/A,Unknown,1,0,M
18,272,"Clark, Mr. Walter Miller",27,"Los Angeles, California, US",Cherbourg,"Los Angeles, California, US",N/A,Unknown,1,0,M
19,277,"Clifford, Mr. George Quincy",40,"Stoughton, Massachusetts, US",Southampton,"Stoughton, Massachusetts",N/A,Unknown,1,0,M
20,285,"Colley, Mr. Edward Pomeroy",37,"Dublin, Ireland, UK[note 1]",Southampton,"Vancouver, British Columbia, Canada",N/A,Unknown,1,0,M
21,291,"Compton, Mr. Alexander Taylor Jr.",37,"Lakewood, New Jersey, US",Cherbourg,"Lakewood, New Jersey, US",N/A,Unknown,1,0,M
22,321,"Cumings, Mr. John Bradley",39,"New York, New York, US",Cherbourg,"New York, New York, US",N/A,Unknown,1,0,M
23,334,"Daniel, Mr. Robert Williams",27,"Philadelphia, Pennsylvania, US",Southampton,"Philadelphia, Pennsylvania, US",N/A,Unknown,1,0,M
24,337,"Davidson, Mr. Thornton",31,"Montreal, Quebec, Canada",Southampton,"Montreal, Quebec, Canada",N/A,Unknown,1,0,M
25,393,"Dulles, Mr. William Crothers",39,"Philadelphia, Pennsylvania, US",Cherbourg,"Philadelphia, Pennsylvania, US",N/A,133MB,1,0,M
26,434,"Foreman, Mr. Benjamin Laventall",30,"New York, New York, US",Southampton,"New York, New York, US",N/A,Unknown,1,0,M
27,443,"Franklin, Mr. Thomas Parnham",37,"London, England, UK",Southampton,"New York, New York, US",N/A,Unknown,1,0,M
28,452,"Futrelle, Mr. Jacques Heath",37,"Scituate, Massachusetts, US",Southampton,"Scituate, Massachusetts, US",N/A,Unknown,1,0,M
29,494,"Graham, Mr. George Edward",38,"Winnipeg, Manitoba, Canada",Southampton,"Winnipeg, Manitoba, Canada",N/A,147MB,1,0,M
30,731,"Lewy, Mr. Ervin G.",31,"Chicago, Illinois, US",Cherbourg,"Chicago, Illinois, US",N/A,Unknown,1,0,M
31,751,"Long, Mr. Milton Clyde",29,"Springfield, Massachusetts, US",Southampton,"Springfield, Massachusetts, US",N/A,126MB,1,0,M
32,753,"Loring, Mr. Joseph Holland",30,"London, England, UK",Southampton,"New York, New York, US",N/A,Unknown,1,0,M
33,768,"Maguire, Mr. John Edward",30,"Brockton, Massachusetts, US",Southampton,"Brockton, Massachusetts, US",N/A,Unknown,1,0,M
34,820,"Meyer, Mr. Edgar Joseph",28,"New York, New York, US",Cherbourg,"New York, New York, US",N/A,Unknown,1,0,M
35,877,"Natsch, Mr. Charles",36,"Brooklyn, New York, US",Cherbourg,"Brooklyn, New York, US",N/A,Unknown,1,0,M
36,935,"Ovies y Rodriguez, Mr. Servando Jos–ò Florentino",36,"Havana, Cuba",Cherbourg,"Havana, Cuba",N/A,189MB,1,0,M
37,953,"Parr, Mr. William Henry Marsh[60]",29,"Belfast, Ireland, UK",Belfast,"New York, New York, US",N/A,Unknown,1,0,M
38,955,"Partner, Mr. Austin",40,"Tolworth, London, England, UK",Southampton,"Toronto, Ontario, Canada",N/A,166MB,1,0,M
39,963,"Pears, Mr. Thomas Clinton",29,"Isleworth, London, England, UK",Southampton,"New York, New York, US",N/A,Unknown,1,0,M
40,969,"Pe–Øasco y Castellana, Mr. Victor",24,"Madrid, Spain",Cherbourg,"New York, New York, US",N/A,Unknown,1,0,M
41,1008,"Reuchlin,‚ïêThe Honourable‚ïêMr. Johan George",38,"Rotterdam, The Netherlands",Southampton,"New York, New York, US",N/A,Unknown,1,0,M
42,1032,"Roebling, Mr. Washington Augustus II",31,"Trenton, New Jersey, US",Southampton,"Trenton, New Jersey, US",N/A,Unknown,1,0,M
43,1037,"Rood, Mr. Hugh Roscoe",38,"Seattle, Washington, US",Southampton,"Seattle, Washington, US",N/A,Unknown,1,0,M
44,1043,"Ross, Mr. John Hugo",36,"Winnipeg, Manitoba, Canada",Southampton,"Winnipeg, Manitoba, Canada",N/A,Unknown,1,0,M
45,1134,"Smith, Mr. Lucien Philip",24,"Huntington, West Virginia, US",Cherbourg,"Huntington, West Virginia, US",N/A,Unknown,1,0,M
46,1222,"Uruchurtu, Don Manuel E.",40,"Mexico City, Mexico",Cherbourg,"Mexico City, Mexico",N/A,Unknown,1,0,M
47,1275,"White, Mr. Richard Frasar",21,"Brunswick, Maine, US",Southampton,"Brunswick, Maine, US",N/A,169MB,1,0,M
48,1282,"Widener, Mr. Harry Elkins",27,"Philadelphia, Pennsylvania, US",Southampton,"Philadelphia, Pennsylvania, US",N/A,Unknown,1,0,M

In [8]:
#
# For collections that have certain selection where we'll need the opposite of said 
# selection, we can write a query that grabs everything and then subtracts the 
# original query from it
#
query = '''
SELECT pl_class.*
FROM passenger_list pl_class,
   passenger_list pl_gender,
   passenger_list pl_age,
   passenger_list pl_survived
WHERE pl_class.id = pl_gender.Id 
   AND pl_class.id = pl_age.Id 
   AND pl_class.Id = pl_survived.id 

except

select pl_class.*
FROM passenger_list pl_class,
   passenger_list pl_gender,
   passenger_list pl_age,
   passenger_list pl_survived
WHERE pl_class.id = pl_gender.Id 
   AND pl_class.id = pl_age.Id 
   AND pl_class.Id = pl_survived.id 
   AND pl_class.class = 1
   AND pl_gender.gender = 'M' 
   AND pl_age.age BETWEEN 20 AND 40 
   AND NOT pl_survived.Survived;
'''

In [9]:
df = pd.read_sql_query(query, conn)
df

,Id,Name,Age,Hometown,Boarded,Destination,Lifeboat,Body,Class,Survived,Gender
0,1,"Abbing, Mr. Anthony",40,"Cincinnati, Ohio",Southampton,"Cincinnati, Ohio, US",N/A,Unknown,3,0,M
1,2,"Abbott, Mr. Eugene Joseph",14,"East Providence, Rhode Island",Southampton,"East Providence, Rhode Island, US",N/A,Unknown,3,0,M
2,3,"Abbott, Mr. Rossmore Edward",16,"East Providence, Rhode Island",Southampton,"East Providence, Rhode Island, US",N/A,Unknown,3,0,M
3,4,"Abbott, Mrs. Rhoda Mary (n–òe Hunt)",39,"East Providence, Rhode Island",Southampton,"East Providence, Rhode Island, US",A,N/A,3,1,F
4,5,"Abd al-Khaliq, Mr. Farid Qasim Husayn",18,Shana,Cherbourg,New York City,N/A,Unknown,3,0,M
5,6,"Abelseth, Miss Karen Marie",16,Sondmore,Southampton,"Los Angeles, California, US",16,N/A,3,1,F
6,7,"Abelseth, Mr. Olaus J–¨rgensen",25,"Perkins County, South Dakota",Southampton,"Perkins County, South Dakota, US",A,N/A,3,1,M
7,8,"Abelson, Mr. Samuel",30,Russia,Cherbourg,"New York, New York, US",N/A,Unknown,2,0,M
8,9,"Abelson, Mrs. Anna (n–òe Wizosky?)",28,Russia,Cherbourg,"New York, New York, US",10,N/A,2,1,F
9,10,"Abrahamsson, Mr. Abraham August Johannes",20,Dalsbruk,Southampton,"Hoboken, New Jersey, US",15,N/A,3,1,M
10,11,"Abrahim, Mrs. Mary Sophie Halaut (n–òe Easu)",18,Shwayhad,Cherbourg,"Greensburg, Pennsylvania, US",C,N/A,3,1,F
11,12,"Adahl, Mr. Mauritz Nils Martin",30,"Asarum, Sm–ïland",Southampton,"Brooklyn, New York, US",N/A,72MB,3,0,M
12,13,"Adams, Mr. John",26,"Bournemouth, Dorset",Southampton,"La Porte City, Iowa, US",N/A,103MB,3,0,M
13,14,"Ahlin, Mrs. Johanna Persdotter (n–òe Larsson)",40,"G–ñteborg, V–îsterg–ñtland",Southampton,"Akeley, Minnesota, US",N/A,Unknown,3,0,F
14,15,"Aks, Master Frank Philip",10 mo.,London,Southampton,"Norfolk, Virginia, US",11,N/A,3,1,M
15,16,"Aks, Mrs. Leah (n–òe Rosen)",18,London,Southampton,"Norfolk, Virginia, US",13,N/A,3,1,F
16,17,"Alexander, Mr. William",23,"Great Yarmouth, Norfolk",Southampton,"Albion, Michigan, US",N/A,Unknown,3,0,M
17,18,"Alhom–îki, Mr. Ilmari Rudolf",19,Salo,Southampton,"Astoria, Oregon, US",N/A,Unknown,3,0,M
18,19,"Ali, Mr. Ahmed",24,Buenos Aires,Southampton,New York City,N/A,Unknown,3,0,M
19,20,"Ali, Mr. William",25,Buenos Aires,Southampton,New York City,N/A,79MB,3,0,M
20,21,"Allen, Miss Elizabeth Walton",29,"St Louis, Missouri, US",Southampton,"St Louis, Missouri, US",2,N/A,1,1,F
21,22,"Allen, Mr. William Henry",35,"Birmingham, West Midlands",Southampton,New York City,N/A,Unknown,3,0,M
22,23,"Allison, Master Hudson Trevor",11 mo.,"Montreal, Quebec, Canada",Southampton,"Montreal, Quebec, Canada",11,N/A,1,1,M
23,24,"Allison, Miss Helen Loraine",2,"Montreal, Quebec, Canada",Southampton,"Montreal, Quebec, Canada",N/A,Unknown,1,0,F
24,26,"Allison, Mrs. Bessie Waldo (n–òe Daniels)",25,"Montreal, Quebec, Canada",Southampton,"Montreal, Quebec, Canada",N/A,Unknown,1,0,F
25,27,"Allum, Mr. Owen George",15,"Southall, London",Southampton,New York City,N/A,259MB,3,0,M
26,28,"Al-Muna, Mr. Nasif Qasim",26,"Fredericksburg, Virginia",Cherbourg,"Fredericksburg, Virginia, US",15,N/A,3,1,M
27,29,"Al-Zainni, Mr. Fahim Ruhanna",22,Toula,Cherbourg,"Dayton, Ohio, US",6,N/A,3,1,M
28,31,"Swain, Mr. George(Chauffeur to Allison, Mr. Hu...",19,"Montreal, Quebec, Canada",Southampton,"Montreal, Quebec, Canada",N/A,294MB,1,0,M
29,34,"Brown, Miss Amelia Mary (Mildred) (Cook to All...",18,"London, England, UK",Southampton,"Montreal, Quebec, Canada",11,N/A,1,1,F
...,...,...,...,...,...,...,...,...,...,...,...
1235,1285,"Wiklund, Mr. Karl Johan",21,Vaasa,Southampton,"Montreal, Quebec, Canada",N/A,Unknown,3,0,M
1236,1286,"Wilkes, Mrs. Ellen",47,"Penzance, Cornwall",Southampton,"Akron, Ohio, US",16,N/A,3,1,F
1237,1287,"Wilkinson, Miss Elizabeth Anne (alias Mrs. Eli...",29,"Manchester, England",Southampton,"Philadelphia, Pennsylvania, US",16,N/A,2,1,F
1238,1288,"Willard, Miss Constance",21,"Duluth, Minnesota, US",Southampton,"Duluth, Minnesota, US",8,N/A,1,1,F
1239,1289,"Willer, Mr. Aaron",37,Unknown,Cherbourg,"Chicago, Illinois, US",N/A,Unknown,3,0,M
1240,1290,"Willey, Mr. Edward",18,"Market Drayton, Shropshire",Southampton,"Schenectady, New York, US",N/A,Unknown,3,0,M
1241,1291,"Williams, Mr. Charles Duane",51,"Geneva, Switzerland",Cherbourg,"Radnor, Pennsylvania, US",N/A,Unknown,1,0,M
1242,1292,"Williams, Mr. Charles Eugene",23,"Harrow, London, England",Southampton,"Chicago, Illinois, US",14,N/A,2,1,M
1243,1293,"Williams, Mr. Howard Hugh ""Harry""",28,"Guernsey, Channel Islands",Southampton,New York City,N/A,Unknown,3,0,M
1244,1294,"Williams, Mr. Leslie",28,"Tonypandy, Glamorgan",Southampton,New York City,N/A,14MB,3,0,M
1245,1295,"Williams, Mr. Richard Norris II",21,"Geneva, Switzerland",Cherbourg,"Radnor, Pennsylvania, US",A,N/A,1,1,M
1246,1296,"Windel–¨v, Mr. Einar",21,Cape Town,Southampton,New York City,N/A,Unknown,3,0,M
1247,1297,"Wirz, Mr. Albert",27,Uster,Southampton,"Beloit, Wisconsin, US",N/A,131MB,3,0,M
1248,1298,"Wiseman, Mr. Phillippe",54,London,Southampton,"Quebec City, Quebec, Canada",N/A,Unknown,3,0,M
1249,1299,"Wittevrongel, Mr. Camilius Aloysius",36,Westrozebeke,Southampton,"Detroit, Michigan, US",N/A,Unknown,3,0,M
1250,1300,"Woodward, Mr. John Wesley[60]",32,"Oxford, Oxfordshire, England",Southampton,New York City,N/A,Unknown,2,0,M
1251,1301,"Woolner, Mr. Hugh",45,"London, England, UK",Southampton,"New York, New York, US",D,N/A,1,1,M
1252,1302,"Wright, Miss Marion",26,"Yeovil, Somerset, England",Southampton,"Cottage Grove, Oregon, US",9,N/A,2,1,F
1253,1303,"Wright, Mr. George",62,"Halifax, Nova Scotia, Canada",Southampton,"Halifax, Nova Scotia, Canada",N/A,Unknown,1,0,M
1254,1304,"Yasbak, Mr. Antun",27,Unknown,Cherbourg,"Wilkes-Barre, Pennsylvania, US",N/A,Unknown,3,0,M
1255,1305,"Yasbak, Mrs. Silanah Fa'ud (n–òe Iskandar)",15,Unknown,Cherbourg,"Wilkes-Barre, Pennsylvania, US",C,N/A,3,1,F
1256,1306,"Ylieff, Mr. Ylio",32,Unknown,Southampton,"Chicago, Illinois, US",N/A,Unknown,3,0,M
1257,1307,"Young, Miss Marie Grice",36,"New York, New York, US",Cherbourg,"New York, New York, US",8,N/A,1,1,F
1258,1308,"Youssef, Mr. Gerios (Abi Saab)",26,Hard–ùne,Cherbourg,"Youngstown, Ohio, US",N/A,312M,3,0,M
1259,1309,"Youssef, Mr. Gerios (Sam'aan)",45,Hard–ùne,Cherbourg,"Wilkes-Barre, Pennsylvania, US",N/A,Unknown,3,0,M
1260,1310,"Yvois, Miss Henriette",24,"Paris, France",Southampton,"Montreal, Quebec, Canada",N/A,Unknown,2,0,F
1261,1311,"Zajib Qiyamah, Miss Adal ""Jane""",15,El Shweir,Cherbourg,"Brooklyn, New York, US",C,N/A,3,1,F
1262,1312,"Zakarian, Mr. Haroutyun Der",27,Ki??,Cherbourg,"Brantford, Ontario, Canada",N/A,Unknown,3,0,M
1263,1313,"Zakarian, Mr. Mapri Der",22,Ki??,Cherbourg,"Brantford, Ontario, Canada",N/A,304MB,3,0,M
1264,1314,"Zimmermann, Mr. Leo",29,Todtmoos,Southampton,"Saskatoon, Saskatchewan, Canada",N/A,Unknown,3,0,M

In [14]:
select count(*) from passenger_list;

SyntaxError: invalid syntax (<ipython-input-14-edbb7f354fcc>, line 1)